<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rate song!</title>
</head>
<body>
	<form method="POST" action="">
		<label for="song_title">Enter the song title:  </label>
		<input type="text" name="song_title"><br>
		<label for="star_rating">Choose rating for the song: </label>
		<input type="radio" name="star_rating" value="1">One
		<input type="radio" name="star_rating" value="2">Two
		<input type="radio" name="star_rating" value="3">Three
		<input type="radio" name="star_rating" value="4">Four
		<input type="radio" name="star_rating" value="5">Five<br><br>
		<input type="submit" value="submit">
	</form>
</body>
</html>